* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(255, 255, 255);
    /* font-family: 'Shadows Into Light', cursive; */
}

header {
    background-color: #000000d8;
    text-align: center;
    margin-bottom: 10px;
    
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
}

header h1 {
    display: inline-block;
    font-family: 'Holtwood One SC', serif;
    letter-spacing: 5px;
    font-size: 1.2em;
    color: rgba(11, 177, 228, 0.61);
    margin: 20px 0 10px;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 5px 5px;
    box-shadow: -5px 7px;
}

nav {
    height: 100%;
    display: inline-block;
    padding: 0;
}

nav ul {
    padding: 5px 0;
    margin: 10px;
}


nav ul li{
    display: inline;
    padding: 5px 0;
}

nav a {
    text-decoration: none;
    color: #fff;
    background: rgba(11, 177, 228);    
    border-radius: 0 5px;
    padding: 3px;
}

.main-content {
    display: block;
    width: 95%;
    margin: 120px auto 20px;
    
}


.sInfo {
    margin-bottom: 20px;
}

.sInfo h2 {
    padding: 10px 0;
    text-align: center;
}

.card {
    display: block;
    margin: 10px auto;
    text-align: center;
    border: gold solid 1px ;
    padding: 0 0 5px;
}

.card h3 {
    background: gold;
   width: 100%;
   padding: 5px 0;
}

.card p {
    margin: 10px 0 ;
    padding: 0 10px;
    text-align: left;
}

.card ul {
    margin: 0 auto;
    text-align: left;
    width: 90%;
    padding: 15px 0 0 10px;
}

.card li {
    padding: 5px 0;
}

.card .question {
    text-align: center;
    text-transform: uppercase;
}

.card .answer {
    text-align: center;
} 

.card-description div {
    border-bottom: solid 2px gold;
}


@media (min-width: 598px) {

    header {
        border-bottom: solid 3px gold;
        padding: 10px;
    }
    .main-content {
        display: block;
        width: 50%;
        margin: 120px auto 20px;
        
        
    }

}